* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
    padding: 24px;
    background-color: #1a617f;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.left {
    background-color: red;
    width: 600px;
    height: 400px;
    text-align: center;
    color: white;

}

.left .link {
    margin-top: 160px;
}

.left a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 4px;
    margin-right: 5px;
}

.left a:hover {
    background-color: red;
    color: white;
}

.left p {
    margin-top: 120px;
}

h3 {
    font-size: 60px;
}

.right {
    background-color: white;
    width: 600px;
    height: 400px;
    font-size: 50px;
    text-align: left;
    padding: 24px;
    box-sizing: border-box;
}

.right h3 {
    margin-top: 60px;
}

.right .link {
    margin-top: 100px;
}